@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
* {
  font-size: 1.2em;
  font-family: "Redressed", cursive;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/principal.jpg);
  position: relative;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-top: 50px;
}
